div {
    display: inline-block;
}
.left {
    border-right: 3px solid black
}
.right {
    vertical-align: top;
}
input[type=submit] {
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
}
input {
    display: inline-block;
}
.red {
    color: red
}
.blue {
    color: blue
}
.green {
    color: green
}
.redbig {
    color: red;
    font-size: 2em;
}
.bluebig {
    color: blue;
    font-size: 2em;
}
.greenbig {
    color: green;
    font-size: 2em;
}