<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login/Registration</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <h1>Register here if you do not have an account:</h1>
    <form action='/register' method='POST'>
        {% csrf_token %}
        <label for="first_name">First Name:<input type="text" name="first_name"></label>
        <label for="last_name">Last Name:<input type="text" name="last_name"></label>
        <label for="email">Email:<input type="text" name="email"></label>
        <label for="password">Password:<input type="text" name="password"></label>
        <label for="pass_confirm">Confirm Password:<input type="text" name="confirm_pass"></label>
        <input type="submit" value="Register">
    </form>
    <h1>Already Have an Account? Login Here:</h1>
    <form action='/login' method='POST'>
        {% csrf_token %}
        <label for="email">Email:<input type="text" name="email"></label>
        <label for="password">Password:<input type="text" name="password"></label>
        <input type="submit" value="Login">
    </form>
</body>
</html>